<h4>Find layout code in <%= javascript_path %>/views/layouts/<%= file_path %>.js</h4>
<h4>And template in <%= template_path %>/layouts/<%= file_path %>.jst.ejs</h4>
<div class="main-container">
  
</div>
