<h4>Find layout code in <%= javascript_path %>/views/layouts/<%= file_name %>.js</h4>
<h4>And template in <%= javascript_path %>/templates/layouts/<%= file_name %>.hbs</h4>
<div id="main-container">
  
</div>
